{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
        <a class="sidebar-brand brand-logo" href="{% url 'dashboard' %}" style="color:#127D61;">
            <img src="{% static 'images/file.png' %}" height="30" width="30" alt="" loading="lazy" />
        </a>
    </div>
    <ul class="nav">

        <!-- Divider -->
        <li>
            <hr class="sidebar-divider my-3">
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">JOBEL-HOME</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard' %}">
                <i class="mdi mdi-view-dashboard menu-icon"></i>
                <span class="menu-title">DASHBOARD</span>
            </a>
        </li>

        <!-- Divider -->
        <li>
            <hr class="sidebar-divider my-3">
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="mdi mdi-cart menu-icon"></i>
                <span class="menu-title">Orders</span>
            </a>
        </li>
        <!-- Nav Item - Products Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic-sp" aria-expanded="false"
                aria-controls="ui-basic">
                <i class="mdi mdi-package menu-icon"></i>
                <span class="menu-title">Products</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic-sp">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'products:categories_list' %}" target="_self">
                            Categories
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'products:products_list' %}" target="_self"> Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'products:stock_alerts' %}" target="_self">
                            Stock Alerts
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'sales:sales_list' %}">
                <i class="mdi mdi-trending-up menu-icon"></i>
                <span class="menu-title">Sales</span>
            </a>
        </li>

        {% if user.profile.role == 'administrator' %}
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic1" aria-expanded="false"
                aria-controls="ui-basic1">
                <i class="mdi mdi-bank menu-icon"></i>
                <span class="menu-title">Finance & Accounts</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic1">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link active" href="#" target="_self">Profit & Loss </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#" target="_self">Cash Flow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#" target="_self">Balance Sheet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#" target="_self">Expense Tracking</a>
                    </li>
                </ul>
            </div>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="showMessageSettings(event)">
                <i class="mdi mdi-bank menu-icon"></i>
                <span class="menu-title">Finance & Accounts</span>
            </a>
        </li>
        {% endif %}

        <li class="nav-item">
            <a class="nav-link" href="{% url 'customers:customers_list' %}">
                <i class="mdi mdi-account-multiple menu-icon"></i>
                <span class="menu-title">Customers</span>
            </a>
        </li>

        <!-- Divider -->
        <li>
            <hr class="sidebar-divider my-3">
        </li>

        {% if user.profile.role == 'administrator' %}
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic2" aria-expanded="false"
                aria-controls="ui-basic2">
                <i class="mdi mdi-chart-bar menu-icon"></i>
                <span class="menu-title">Reports</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic2">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link active" href="#" target="_self">Sales Reports</a>
                        <!--
                        Daily Sales Report: Displays total sales, sales by product, payment methods used, etc., for a
                        specific day.
                        Monthly/Yearly Sales Report: Summarizes total revenue, average sales per day, and top-selling
                        products for longer periods.
                        Sales by Product: Detailed breakdown of sales by individual products or categories.
                        Sales by Payment Method: Analyze sales based on payment methods (cash, card, etc.).
                        -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#" target="_self">Inventory Reports</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#" target="_self">Customer Reports</a>
                    </li>
                </ul>
            </div>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="showMessageSettings(event)">
                <i class="mdi mdi-chart-bar menu-icon"></i>
                <span class="menu-title">Reports</span>
            </a>
        </li>
        {% endif %}

        {% if user.profile.role == 'administrator' %}
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic3" aria-expanded="false"
                aria-controls="ui-basic3">
                <i class="mdi mdi-settings menu-icon"></i>
                <span class="menu-title">Settings</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic3">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'profile_list' %}" target="_self">Profiles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'user_feedback' %}" target="_self">Feedback</a>
                    </li>
                </ul>
            </div>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="showMessageSettings(event)">
                <i class="mdi mdi-alert menu-icon"></i>
                <span class="menu-title">Settings</span>
            </a>
        </li>
        {% endif %}

    </ul>
</nav>
<!-- end sidebar -->