{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
        <a class="sidebar-brand brand-logo" href="{% url 'dashboard' %}" style="color:#127D61;">
            <img src="{% static 'images/file.png' %}" height="30" width="30" alt="" loading="lazy" />
        </a>
    </div>
    <ul class="nav">

        <!-- Divider -->
        <li>
            <hr class="sidebar-divider my-3">
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">JOBEL-HOME</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard' %}">
                <i class="mdi mdi-view-dashboard menu-icon"></i>
                <span class="menu-title">DASHBOARD</span>
            </a>
        </li>

        <!-- Divider -->
        <li>
            <hr class="sidebar-divider my-0">
        </li>

        <!-- Nav Item - Products Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic-sp" aria-expanded="false"
                aria-controls="ui-basic">
                <i class="mdi mdi-package menu-icon"></i>
                <span class="menu-title">Products</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic-sp">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'products:categories_list' %}" target="_self">
                            Categories
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'products:products_list' %}" target="_self"> Products
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <!-- Divider -->
        <li>
            <hr class="sidebar-divider my-0">
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'customers:customers_list' %}">
                <i class="mdi mdi-account-multiple menu-icon"></i>
                <span class="menu-title">Customers</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'sales:sales_list' %}">
                <i class="mdi mdi-cart menu-icon"></i>
                <span class="menu-title">Sales</span>
            </a>
        </li>

        {% if user.profile.role == 'administrator' %}
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic4" aria-expanded="false" aria-controls="ui-basic">
                <i class="mdi mdi-chart-bar menu-icon"></i>
                <span class="menu-title">Reports</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic4">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link active" href="#" target="_self">Sales Reports</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#" target="_self">Inventory Reports</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#" target="_self">Customer Reports</a>
                    </li>
                </ul>
            </div>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="showMessageSettings(event)">
                <i class="mdi mdi-chart-bar menu-icon"></i>
                <span class="menu-title">Reports</span>
            </a>
        </li>
        {% endif %}

        {% if user.profile.role == 'administrator' %}
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic5" aria-expanded="false" aria-controls="ui-basic">
                <i class="mdi mdi-settings menu-icon"></i>
                <span class="menu-title">Settings</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic5">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'profile_list' %}" target="_self">Profiles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'user_feedback' %}" target="_self">Feedback</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="" target="_self">Import Products</a>
                    </li>
                </ul>
            </div>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="showMessageSettings(event)">
                <i class="mdi mdi-alert menu-icon"></i>
                <span class="menu-title">Settings</span>
            </a>
        </li>
        {% endif %}

    </ul>
</nav>
<!-- end sidebar -->