{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<!-- Horizontal Card Section -->
<div class="container-fluid">
    <div class="page-header flex-wrap">
        <h3 class="mb-0">Dashboard</h3>
    </div>
    <hr class="bg-info" style="height: 1px;" />

    <!-- Content Row -->
    <div class="row">
        <!-- Earnings (Monthly) Card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card bg-primary text-white shadow h-100 py-2">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <div class="text-xs font-weight-bold mb-1">Av. Earnings (Monthly)</div>
                            <div class="h5 mb-0 font-weight-bold">UgX {{ avg_month|floatformat:"2"|intcomma }}</div>
                        </div>
                        <div>
                            <i class="mdi mdi-calendar mdi-36px"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Annual) Card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card bg-success text-white shadow h-100 py-2">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <div class="text-xs font-weight-bold mb-1">Earnings (Annual)</div>
                            <div class="h5 mb-0 font-weight-bold">UgX {{ annual_earnings|floatformat:"2"|intcomma }}
                            </div>
                        </div>
                        <div>
                            <i class="mdi mdi-cash-multiple mdi-36px"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Products Card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card bg-info text-white shadow h-100 py-2">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <div class="text-xs font-weight-bold mb-1">Registered Products</div>
                            <hr class="bg-white" style="height: 1px;" />
                            <div class="h5 mb-0 font-weight-bold">{{ products }}</div>
                        </div>
                        <div>
                            <i class="mdi mdi-package-variant mdi-36px"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Categories Card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card bg-warning text-white shadow h-100 py-2">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <div class="text-xs font-weight-bold mb-1">Products Categories</div>
                            <hr class="bg-white" style="height: 1px;" />
                            <div class="h5 mb-0 font-weight-bold">{{ categories }}</div>
                        </div>
                        <div>
                            <i class="mdi mdi-tag mdi-36px"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Top Selling Products Chart -->
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Top Selling Products Overview</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    {% if top_products_names_list %}
                    <div class="mt-4">
                        {% for name, quantity in top_products_names_list %}
                        <div class="mb-3">
                            <h6 class="font-weight-bold">{{ name }}</h6>
                            <div class="progress">
                                <div class="progress-bar bg-info" role="progressbar" style="width: {{ quantity }}%;"
                                    aria-valuenow="{{ quantity }}" aria-valuemin="0" aria-valuemax="100">
                                    {{ quantity }}%
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div class="alert alert-info" role="alert">
                        No top-selling products available.
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Year Earnings Overview Chart -->
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Year Earnings Overview (Jan - Dec)</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="myLineChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock content %}