{% extends 'accounts/base.html' %}

{% block title %}
  About Us Page
{% endblock %}

{% block content %}
  <div class="container-fluid my-3">
    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-12">
        <div class="card shadow-lg border-0 rounded-lg">
          <div class="card-header text-center bg-primary text-white">
            <h3 class="font-weight-light my-2">ABOUT US</h3>
          </div>
          <div class="card-body">
            <p class="lead text-center mb-4">
              Welcome to <strong>Jobell Fragrance Shop</strong>, your ultimate destination for exquisite scents that elevate your spirit and enhance your unique identity. At Jobell, we believe that fragrance is not just a scent; it's an experience, a memory, and a reflection of your personality.
            </p>

            <h2 class="mt-4">Our Mission</h2>
            <p>Our mission is to provide our customers with a diverse range of fragrances that cater to all tastes and occasions. Whether you're looking for a signature scent, a special gift, or a refreshing everyday fragrance, we are here to help you discover the perfect aroma that resonates with you.</p>

            <h2 class="mt-4">Our Commitment</h2>
            <p>At Jobell, we are committed to exceptional customer service and satisfaction. Our knowledgeable team is dedicated to guiding you through our offerings, ensuring you find exactly what you’re looking for. We prioritize quality, authenticity, and affordability, making luxurious scents accessible to everyone.</p>

            <h2 class="mt-4">Join Us on This Fragrant Journey</h2>
            <p>Explore our extensive collection and indulge in the art of fragrance with Jobell. Experience the transformative power of scent and let us help you create your own fragrant journey.</p>

            <p class="text-center mt-4">Thank you for choosing Jobell Fragrance Shop. We look forward to serving you!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
