{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<!-- Horizontal Card Section -->
<div class="container-fluid">
    <div class="page-header flex-wrap">
        <h3 class="mb-0">Dashboard</h3>
    </div>
    <hr class="bg-info" style="height: 1px;" />

    <!-- Content Row -->
    <div class="row">
        <!-- Earnings (Monthly) Card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card bg-primary text-white shadow h-100 py-2">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <div class="text-xs font-weight-bold mb-1">Av. Earnings (Monthly)</div>
                            <div class="h5 mb-0 font-weight-bold">UgX {{ avg_month|floatformat:"2"|intcomma }}</div>
                        </div>
                        <div>
                            <i class="mdi mdi-calendar mdi-36px"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Annual) Card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card bg-success text-white shadow h-100 py-2">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <div class="text-xs font-weight-bold mb-1">Earnings (Annual)</div>
                            <div class="h5 mb-0 font-weight-bold">UgX {{ annual_earnings|floatformat:"2"|intcomma }}
                            </div>
                        </div>
                        <div>
                            <i class="mdi mdi-cash-multiple mdi-36px"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Products Card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card bg-info text-white shadow h-100 py-2">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <div class="text-xs font-weight-bold mb-1">Products Registered</div>
                            <hr class="bg-white" style="height: 1px;" />
                            <div class="h5 mb-0 font-weight-bold">{{ products }}</div>
                        </div>
                        <div>
                            <i class="mdi mdi-package-variant mdi-36px"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Categories Card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card bg-warning text-white shadow h-100 py-2">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <div class="text-xs font-weight-bold mb-1">Products Categories</div>
                            <hr class="bg-white" style="height: 1px;" />
                            <div class="h5 mb-0 font-weight-bold">{{ categories }}</div>
                        </div>
                        <div>
                            <i class="mdi mdi-tag mdi-36px"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Top Selling Products Chart -->
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Top Selling Products</h6>
                </div>
                <div class="card-body">
                    <div class="row text-center">
                        {% for product_name, quantity in top_products_names_quantities %}
                        <div class="col-md-4 mb-3">
                            <div class="card bg-light shadow-sm h-100 d-flex align-items-center justify-content-center">
                                <div class="card-body d-flex align-items-center justify-content-center">
                                    <div class="mr-3">
                                        <i class="fas fa-circle text-primary mr-2"></i>{{ product_name }} - Sold:
                                        {{ quantity }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <!-- Card for Total Sales Today -->
        <div class="col-md-3 mb-3">
            <div class="card bg-success text-white h-100 d-flex flex-column">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <i class="fas fa-calendar-day card-icon"></i>
                        <div>
                            <h5 class="card-title">Sales Today</h5>
                        </div>
                    </div>
                    <div>
                        <p class="card-text">UgX: {{ total_sales_today|floatformat:"2"|intcomma }}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card for Total Sales This Week -->
        <div class="col-md-3 mb-3">
            <div class="card bg-info text-white h-100 d-flex flex-column">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <i class="fas fa-calendar-week card-icon"></i>
                        <div>
                            <h5 class="card-title">Sales This Week</h5>
                        </div>
                    </div>
                    <div>
                        <p class="card-text">UgX: {{ total_sales_week|floatformat:"2"|intcomma }}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card for Total Sales This Month -->
        <div class="col-md-3 mb-3">
            <div class="card bg-warning text-white h-100 d-flex flex-column">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <i class="fas fa-calendar-month card-icon"></i>
                        <div>
                            <h5 class="card-title">Sales This Month</h5>
                        </div>
                    </div>
                    <div>
                        <p class="card-text">UgX: {{ total_sales_month|floatformat:"2"|intcomma }}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card for Stock Balance -->
        <div class="col-md-3 mb-3">
            <div class="card bg-primary text-white h-100 d-flex flex-column">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <i class="fas fa-cube card-icon"></i>
                        <div>
                            <h5 class="card-title">Stock Balance</h5>
                        </div>
                    </div>
                    <div>
                        <p class="card-text">{{ total_stock }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Year Earnings Overview Chart -->
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Year Earnings Overview (Jan - Dec, <span
                            id="currentYear"></span>)
                    </h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="myLineChart" height="400px"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Year Earnings Overview Chart -->
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Earnings over the years
                    </h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="salesChart" width="400" height="200"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}