{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="container-fluid">
    <div class="row mb-3">
        <div class="col">
            <a href="{% url 'products:products_add' %}" class="btn btn-success font-weight-bold">
                <i class="mdi mdi-plus mr-2"></i> Add Product
            </a>
            <a href="{% url 'products:update_product_image' %}" class="btn btn-success font-weight-bold ml-2">
                <i class="mdi mdi-plus mr-2"></i> Attach Image
            </a>
            <button title="Print" type="button" class="btn btn-sm ml-2 btn-success" onclick="printDiv('printMe')">
                <i class="mdi mdi-printer btn-icon-prepend"></i>
            </button>
        </div>
    </div>

    <div id="printMe" class="tab-pane show active">
        <div class="alert alert-danger w-100">
            <h6 class="m-0 font-weight-bold text-primary">Products Summary
                <a href="{% url 'products:pts' %}"> ***
                </a>
            </h6>
        </div>
        <!-- DataTable -->
        <div class="table-responsive">
            <table class="my-table" id="dataTable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Gender</th>
                        <th>Type</th>
                        <th>Stock</th>
                        <th class="text-center">Status</th>
                        <th colspan="3" class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.category }}</td>
                        <td>{{ product.gender }}</td>
                        <td>{{ product.product_type }}</td>
                        <td class="text-right">{{ product.stock }}</td>

                        <td class="text-center">
                            {% if product.status == "ACTIVE" %}
                            <span class="badge badge-success" style="font-size:0.8em;">{{ product.status }}</span>
                            {% elif product.status == "INACTIVE" %}
                            <span class="badge badge-danger" style="font-size:0.8em;">{{ product.status }}</span>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <a href="{% url 'products:products_update' product.id %}" class="text-decoration-none"
                                onclick="return confirm('Are you sure you want to update this record?');">
                                <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="tooltip"
                                    title="Update product">
                                    <i class="bi bi-pencil"></i>
                                </button>
                            </a>
                        </td>
                        <td class="text-center">
                            <a href="{% url 'products:product_volume_list' product.id %}" class="text-decoration-none">
                                <button type="button" class="btn btn-info btn-sm" data-bs-toggle="tooltip"
                                    title="Manage Volumes">
                                    <i class="bi bi-box"></i>
                                </button>
                            </a>
                        </td>
                        {% if user.profile.role == 'administrator' or user.profile.role == 'manager' %}
                        <td class="text-center print-hide">
                            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                data-bs-target="#deleteModal{{ product.id }}" title="Delete product">
                                <i class="bi bi-trash"></i>
                            </button>

                            <div class="modal fade" id="deleteModal{{ product.id }}" tabindex="-1"
                                aria-labelledby="deleteModalLabel{{ product.id }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLabel{{ product.id }}">Delete Product
                                            </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close">X
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete the product: <h3>{{ product.name }}?</h3>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Cancel
                                            </button>
                                            <a href="{% url 'products:products_delete' product.id %}"
                                                class="text-decoration-none">
                                                <button type="button" class="btn btn-danger">Delete</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" class="text-right"><strong>Total</strong></td>
                        <td class="text-right">
                            <strong>{{ total_stock }}</strong>
                        </td>
                        <td colspan="4"></td>
                    </tr>
                </tfoot>
            </table>
        </div>


    </div>
</div>
{% endblock content %}