{% extends "accounts/base.html" %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="container mt-4">
    <h1>Order List</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>User</th>
                <th>Status</th>
                <th>Total Amount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.user.username }}</td>
                <td>{{ order.get_status_display }}</td>
                <td>UgX {{ order.get_total_amount|floatformat:"2"|intcomma }}</td>
                <td>
                    <a href="{% url 'staff:order_detail' order.id %}" class="btn btn-info btn-sm">View</a>
                    {% if order.status == 'PENDING' %}
                    <a href="{% url 'staff:process_order' order.id %}" class="btn btn-success btn-sm">Process</a>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No orders available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}